@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100dvh;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  :root {
    --primary: #137fec;
  }
}
